@media  (max-width: 600px) {
  #container-carousel{
    overflow: hidden;

  }
  .mte{
    margin-top: 1rem !important;
   
  }
  #container-carousel{
    margin-top: 3rem !important;
  }
}
.mte{
  margin-top: 4rem;
}

#container-carousel{
  margin-top: 9rem;
}
.line-divider{
  width: 20%;
  height: 2px;border-radius: 100%;
  background: #1EBBEE;
}