.nav-icons:hover{
  color: #17B9ED;
  

}
.nav-icons{
  font-size: 20px;
  transition: 0.3s all ease-in;
}

.tracking-in-expand{animation:tracking-in-expand 1.5s cubic-bezier(.215,.61,.355,1.000) both}
@keyframes tracking-in-expand{0%{letter-spacing:-.5em;opacity:0}40%{opacity:.6}100%{opacity:1}}